[project]
	description = Fast golang queue using ring-buffer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chen Tao (chentao)
[access "refs/for/refs/*"]
	read = group user/Chen Tao (chentao)
	push = group user/Chen Tao (chentao)
	label-Code-Review = -2..+2 group user/Chen Tao (chentao)
	label-Verified = -1..+1 group user/Chen Tao (chentao)
	rebase = group user/Chen Tao (chentao)
	removeReviewer = group user/Chen Tao (chentao)
	submit = group user/Chen Tao (chentao)
[access "refs/heads/*"]
	read = group user/Chen Tao (chentao)
	create = group user/Chen Tao (chentao)
	push = +force group user/Chen Tao (chentao)
	pushMerge = group user/Chen Tao (chentao)
[access "refs/tags/*"]
	push = +force group user/Chen Tao (chentao)
	pushTag = group user/Chen Tao (chentao)
	pushSignedTag = group user/Chen Tao (chentao)
